body {
  background-color: whitesmoke;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: black;
}

.grid-row {
  width: 100%;
  height: auto;
  display: grid;
  column-gap: 4%;
  row-gap: 4%;
  grid-template-columns: calc(92% / 3) calc(92% / 3) calc(92% / 3);
}

.card-decoration {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 1vw;
  cursor: pointer;
  border-radius: 15px;
}

.badge-web {
  background-color: #ff9243;
}
.badge-3D {
  background-color: #4cdcd2;
}
.badge-animation {
  background-color: #51bc5a;
}
.badge-svg {
  background-color: #f7dc42;
}
.badge-app{
  background-color: #ff3415;
}
.badge-design{
  background-color:#894cc4;
}

.active{
    font-weight: bold;
    font-style: italic;
}

.pointer{
  cursor: pointer;
}